* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

.searchbar {
    background: #f1f1f1;
    height: 270px;
    width: 520px;
    padding: 40px 80px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.searchbar h1,
.searchbar p {
    text-align: center;
}

.searchbar p {
    margin-bottom: 30px;
}

.searchbar input,
.searchbar select {
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

#search-btn {
    background-color: #333;
    border-radius: 10px;
    color: #f1f1f1;
    margin: 10px 0;
}

#bing {
    color: darkblue;
}

#ecosia {
    color: darkolivegreen;
}

#fb {
    color: darkslateblue;
}

#google {
    color: #6666ff;
}

#qwant {
    color: darkorchid;
}