* {
    font-family: sans-serif;
}

#bing {
    color: darkblue;
}

#ecosia {
    color: darkolivegreen;
}

#fb {
    color: darkslateblue;
}

#google {
    color: #6666ff;
}

#qwant {
    color: darkorchid;
}